<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager"/>
        <property name="loginUrl" value="/login"/>
        <property name="unauthorizedUrl" value="/login?massage=请登陆后再操作"/>
        <property name="filters">
            <map>
                <entry key="authc" value-ref="formAuthenticationFilter"/>
                <entry key="logout" value-ref="logoutFilter"/>
            </map>
        </property>
        <property name="filterChainDefinitions">
            <value>
                /static/**=anon
                /login=authc
                /logout=logout
                /**=authc
            </value>
        </property>
    </bean>

    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="realm" ref="systemUserRealm"/>
        <property name="sessionManager">
            <bean class="com.wenin819.easyweb.core.security.shiro.HttpSessionManager" />
        </property>
    </bean>
    
    <bean id="hashedCredentialsMatcher" class="org.apache.shiro.authc.credential.HashedCredentialsMatcher">
        <property name="hashAlgorithmName" value="SHA-512" />
        <property name="storedCredentialsHexEncoded" value="false" />
        <property name="hashIterations" value="1024" />
    </bean>

    <bean id="systemUserRealm" class="com.wenin819.easyweb.core.security.shiro.SystemUserRealm">
        <property name="name" value="systemUserRealm"/>
        <property name="credentialsMatcher" ref="hashedCredentialsMatcher" />
    </bean>

    <bean id="secureRemoteInvocationExecutor" class="org.apache.shiro.spring.remoting.SecureRemoteInvocationExecutor">
        <property name="securityManager" ref="securityManager"/>
    </bean>

    <bean class="com.wenin819.easyweb.core.security.shiro.ShiroCurrentUserInfoDao"/>

</beans>
