<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="liquibase" class="liquibase.integration.spring.SpringLiquibase" lazy-init="false" >
        <property name="dataSource" ref="dataSource" />
        <property name="changeLog" value="classpath:/config/db_change_log.xml" />
        <property name="shouldRun" value="true" />
    </bean>

</beans>
